<section>
  <header>
    <h2>Server Program:</h2>
  </header>

  <article>
    <div class="code_block">
      <div class="code_header">
        lib/client.rb
      </div>
      <%= CodeRay.scan_file('lib/server.rb').html.div %>
    </div>
  </article>
</section>

<section>
  <header>
    <h2>Client Program</h2>
  </header>
  
  <article>
    <div class="code_block">
      <div class="code_header">
        lib/client.rb
      </div>
      <%= CodeRay.scan_file('lib/client.rb').html.div %>
    </div>
  </article>
</section>
