<!DOCTYPE html>
<html>
  <head>
    <title>Redes II</title>
    <link rel="stylesheet" href="/stylesheets/layout.css" />
  </head>
  <body>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>